* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  padding: 1em;
  background-color: #000000;
  color: #cccccc;
  font-family: "Arial";
}

h2, h3 {
  border: 1px solid #1c0f00;
  background: #ff7100;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.2em 0.4em;
}

hr {
  border-color: #ff7100;
}

.elementStyle {
  background: #381d00;
  color: #cccccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  align-items: baseline;
}
.grid.cards {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3px;
}
@media screen and (max-width: 1400px) {
  .grid.cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .grid.cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .grid.cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .grid.cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid .grid_1_3 {
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

#shipStatus,
#currentSystem,
#targetSystem {
  margin-bottom: 1em;
  border: 1px solid #ff7100;
}
#shipStatus .starClass,
#currentSystem .starClass,
#targetSystem .starClass {
  text-align: right;
}

.scoopable {
  background: #00ff00;
  color: #000000;
  animation: scoopable_glow 2s infinite linear;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2.5em;
}
progress[value="1"]::-webkit-progress-value, progress[value="1"]::-moz-progress-bar {
  background: #ff7100;
}
progress::-webkit-progress-value, progress::-moz-progress-bar {
  background: #f1d91e;
}

.blue {
  background-color: #1ff6f8;
  color: #000000;
}

.green {
  background-color: #00ff00;
  color: #000000;
}

.orange {
  background-color: #ff7100;
  color: #000000;
}

.red {
  background-color: #ff0000;
  color: #000000;
}

.yellow {
  background-color: #f1d91e;
  color: #000000;
}

.baby_blue {
  background-color: #3ac0ea;
  color: #000000;
}

.cards {
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}
.cards .card {
  border: 1px solid #ff7100;
}
.cards .card.faded {
  opacity: 0.5;
}
.cards .card.important {
  animation: glowing 3s infinite;
}
.cards .card_header {
  width: 100%;
}

.enter {
  animation: fade-in 1s ease-in;
}

.body_icon {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  padding: 0.7em 1em;
  font-size: 3em;
  background: #000000;
  display: inline-block;
}
.body_icon::before {
  content: "?";
}

.body_name {
  display: block;
  width: 100%;
}

.asteroid_cluster {
  background-color: #FFFFFF;
}

.metal_rich_body,
.high_metal_content_body,
.rocky_body {
  background-color: #7f7f7f;
  color: #000000;
}

.icy_body,
.rocky_ice_body {
  background-color: #00ffff;
  color: #000000;
}

.earthlike_world, .earthlike_body {
  background-color: #00ff00;
  color: #000000;
}

.ammonia_world {
  background-color: #7f7f7f;
  color: #000000;
}

.water_world,
.water_giant,
.water_giant_with_life,
.gas_giant_with_ammonia_based_life,
.gas_giant_with_water_based_life {
  background-color: #0000ff;
}

.sudarsky_class_i_gas_giant,
.sudarsky_class_ii_gas_giant,
.sudarsky_class_iii_gas_giant,
.sudarsky_class_iv_gas_giant,
.sudarsky_class_v_gas_giant,
.helium_rich_gas_giant,
.helium_gas_giant {
  background-color: #ff7f00;
  color: #000000;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-glow {
  10% {
    box-shadow: 5px 0px 5px #ff7100ff, 5px 0px 5px #ff7100ff;
  }
  20% {
    box-shadow: 5px 5px 5px #ff7100ff, 5px 5px 5px #ff7100ff;
  }
  30% {
    box-shadow: 0px 5px 5px #ff7100ff, 0px 5px 5px #ff7100ff;
  }
  40% {
    box-shadow: -5px 5px 5px #ff7100ff, -5px 5px 5px #ff7100ff;
  }
  50% {
    box-shadow: -5px 0px 5px #ff7100ff, -5px 0px 5px #ff7100ff;
  }
  60% {
    box-shadow: -5px -5px 5px #ff7100ff, -5px -5px 5px #ff7100ff;
  }
  70% {
    box-shadow: 0px -5px 5px #ff7100ff, 0px -5px 5px #ff7100ff;
  }
  80% {
    box-shadow: 5px -5px 5px #ff7100ff, 5px -5px 5px #ff7100ff;
  }
  100% {
    box-shadow: 5px 0px 5px #ff7100ff, 5px 0px 5px #ff7100ff;
  }
}
@keyframes glowing {
  0% {
    border-color: #ff7100;
    box-shadow: 0 0 -10px #ff0000;
  }
  40% {
    box-shadow: 0 0 50px #ff0000;
  }
  50% {
    border-color: #1ff6f8;
  }
  60% {
    box-shadow: 0 0 50px #ff0000;
  }
  100% {
    box-shadow: 0 0 -10px #ff0000;
    border-color: #ff7100;
  }
}
.glowblue {
  animation: glowblue 2s infinite linear;
}

@keyframes glowblue {
  0% {
    background: inherit;
  }
  50% {
    background: #1ff6f8;
  }
  100% {
    background: inherit;
  }
}
.gloworange {
  animation: gloworange 2s infinite linear;
}

@keyframes gloworange {
  0%, 100% {
    background: inherit;
  }
  10%, 90% {
    color: #000000;
  }
  50% {
    background: #ff7100;
  }
}
.glowyellow {
  animation: glowyellow 2s infinite linear;
}

@keyframes glowyellow {
  0%, 100% {
    color: #f1d91e;
    background: inherit;
  }
  10%, 90% {
    color: #000000;
  }
  50% {
    background: #f1d91e;
  }
}
.glowgreen {
  animation: glowgreen 2s infinite linear;
}

@keyframes glowgreen {
  0%, 100% {
    background: inherit;
  }
  10%, 90% {
    color: #000000;
  }
  50% {
    background: #00ff00;
  }
}
.glowred {
  animation: glowred 2s infinite linear;
}

@keyframes glowred {
  0%, 100% {
    background: inherit;
    color: #ff0000;
  }
  10%, 90% {
    color: #000000;
  }
  50% {
    background: #ff0000;
  }
}
@keyframes scoopable_glow {
  0% {
    background: #00ff00;
  }
  50% {
    background: #1ff6f8;
  }
  100% {
    background: #00ff00;
  }
}
@-webkit-keyframes barberpole {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}
.anim_faster {
  animation-duration: 500ms;
}

/*# sourceMappingURL=style.css.map */
